# Example of setting owners for specific files or directories
# Lines starting with '#' are comments

# Assign reviewers to the whole repository
* @Mohammediliyas766 

# Assign reviewers to a specific directory
# /program.cs @RakshithKateel

# Assign reviewers to a specific file
/README.md @GA-MA-KA
